<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

</body>

</html>