<div class="container" th:switch="${clients}">
    <div class="py-5 text-center">
        <h2>Clients</h2>
    </div>

    <div class="row">
        <a href="client" class="btn btn-primary">Add client</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Username</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,iter : ${clients}">
                <td th:text="${iter.count}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${user.getId()})}" class="btn btn-primary">Edit client</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Company Name</p>
</footer>
</div>