<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>

<!--    When it comes to CSS, Spring Boot will automatically serve
        anything found in src/main/resources/static.
        Put your own main.css file there.
        https://spring.io/guides/tutorials/react-and-spring-data-rest/-->
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>